# Data Science Tools and EcoSystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages used by Data Scientists are:
1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. Matplotlib
3. Numpy

| Data Science Tools |
|--------------------|
| RStudio |
| Jupyter Notebook | 
| IBM Watson Studio |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [2]:
# This is a simple arithmetic expression to multiply then add integers
(3*4)+5

17

In [3]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

**Objectives:**

- Popular data science languages
- Commonly used libraries by Data Scientists
- Create tables of popular Data Science tools
- Arithmetic expressions in Python
- Convert minutes into hours in Python using Code cells
- Learnt about Markeddown and Code

## Author
Muhammad Waqas